manifest {
  author = 'Marco De La Pierre'
  name = 'nanopore-nf'
  description = 'Nanopore pipeline for DPIRD'
  homePage = 'https://github.com/marcodelapierre/nanopore-nf'

  nextflowVersion = '!>=20.04.1'
}

resume = true

profiles {

zeus {
  process {
    cache = 'lenient'
  }
  
  process {
    withName: 'basecall'            { container = 'genomicpariscentre/guppy:3.1.5' }
    withName: 'chop|assemble|align' { container = 'quay.io/biocontainers/pomoxis:0.2.2--py_0' }
    withName: 'blast|seqfile'       { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
    withName: 'diamond'             { container = 'quay.io/biocontainers/diamond:0.9.24--ha888412_1' }
  }
  singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH'
    cacheDir = "$NXF_HOME/singularity"
  }
  process.module = 'singularity'

  params.slurm_account = 'pawsey0281'
  process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'workq'
    cpus = 1
    time = '5m'
  }
  executor {
    $slurm {
      queueSize = 512
    }
  }
}

nimbus {
  process.cache = 'lenient'
    
  process {
    withName: 'basecall'            { container = 'genomicpariscentre/guppy:3.1.5' }
    withName: 'chop|assemble|align' { container = 'quay.io/biocontainers/pomoxis:0.2.2--py_0' }
    withName: 'blast|seqfile'       { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
    withName: 'diamond'             { container = 'quay.io/biocontainers/diamond:0.9.24--ha888412_1' }
  }
  docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g) -v /data/work:/data/work'
  }

  process {
    cpus = 1
  }
}

}
