params.slurm_account = 'pawsey0001'

process {
  withName: 'basecall'            { container = 'genomicpariscentre/guppy:3.1.5' }
  withName: 'chop|assemble|align' { container = 'quay.io/biocontainers/pomoxis:0.2.2--py_0' }
  withName: 'blast|seqfile'       { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
  withName: 'diamond'             { container = 'quay.io/biocontainers/diamond:0.9.24--ha888412_1' }
}

profiles {

standard {
  workDir = "$MYSCRATCH/nxf_work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
  }
  
  params {
    blast_db='/group/data/blast/nt'
    diamond_db=''
  }
  
  singularity {
    enabled = true
    runOptions = '-B /group -B /scratch'
    cacheDir = "$NXF_HOME/singularity"
  }
  
  process {
    executor = 'slurm'
    cpus = 28
    memory = '120GB'
    time = '1d'
    queue = 'workq'
    clusterOptions = "--account=${params.slurm_account}"
  }
  executor {
    $slurm {
      queueSize = 96
    }
  }
}

nimbus {
  workDir = '/data/work/temp/nxf_work'
  process.cache = 'lenient'
    
  params {
    blast_db='/data/work/databases/blast/nt'
    diamond_db=''
  } 
  
  docker {
    enabled = true
    fixOwnership = true
    runOptions = '-v /data/work:/data/work'
  }

  process {
    cpus = 1
  }
}

}
