params.slurm_account = 'pawsey0281'

process {
  withName: 'basecall'            { container = 'genomicpariscentre/guppy:3.1.5' }
  withName: 'chop|assemble|align' { container = 'quay.io/biocontainers/pomoxis:0.2.2--py_0' }
  withName: 'blast|seqfile'       { container = 'quay.io/biocontainers/blast:2.7.1--h4422958_6' }
  withName: 'diamond'             { container = 'quay.io/biocontainers/diamond:0.9.24--ha888412_1' }
}

profiles {

zeus {
  workDir = "$MYSCRATCH/nxf_work"
  process {
    cache = 'lenient'
    stageInMode = 'symlink'
  }
  
  params {
    blast_db='/group/data/blast/nt'
    diamond_db=''
  }
  
  singularity {
    enabled = true
    runOptions = '-B /group -B /scratch'
    cacheDir = "$NXF_HOME/singularity"
  }
  
  process {
    executor = 'slurm'
    clusterOptions = "--account=${params.slurm_account}"
    queue = 'workq'
    cpus = 1
    time = '1h'
    memory = '10GB'
    withName: 'basecall' {
      cpus = 28
      time = '1d'
      memory = '120GB'
    }
    withName: 'chop' {
      cpus = 4
      time = '12h'
    }
    withName: 'assemble' {
      time = '12h'
      memory = '60GB'
    }
    withName: 'blast|diamond' {
      time = '3h'
      memory = '60GB'
    }
  }
  executor {
    $slurm {
      queueSize = 96
    }
  }
}

nimbus {
  workDir = '/data/work/temp/nxf_work'
  process.cache = 'lenient'
    
  params {
    blast_db='/data/work/databases/blast/nt'
    diamond_db=''
  } 
  
  docker {
    enabled = true
    fixOwnership = true
    runOptions = '-v /data/work:/data/work'
  }

  process {
    cpus = 1
  }
}

}
